body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/assets/images/picture.5.webp') no-repeat center center fixed;
    text-align: center;
    background-size: cover;
    min-height: 100vh; 
    padding-bottom: 100px;
}

header {
    text-align: center;
    color: #6f068f; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.hero {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 10px 0;
    height: 100px; 
    background-color: #f0e68c; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    font-size: 24px; 
    color: #6f068f; 
    border: 2px dashed #ff6b6b; 
}

.pictures {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
    gap: 20px; 
    padding: 20px;
}

.pictures a {
    flex: 1 1 calc(20% - 10px); 
    max-width: calc(20% - 10px);
}

.pictures img {
    width: 200px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    border: 5px solid #ff6b6b;
}

.pictures img:hover {
    transform: scale(1.05);
}

/* Нижня панель */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    border-top: 3px solid #ff6b6b;
    z-index: 10;
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

.bottom-nav li {
    text-align: center;
    flex-grow: 1;
    position: relative;
}

.bottom-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 8px;
}

.bottom-nav a:hover {
    background-color: #f0e68cc6; 
    transform: scale(1.05);
}

/* Анімація при наведенні */
.bottom-nav a:hover {
    background-color: #f0e68cc6;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* вертикальні роздільники */
.bottom-nav li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-30%);
    height: 210%;
    width: 2px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2px;
}


@media (max-width: 1024px) {
    .pictures a {
        flex: 1 1 calc(33.333% - 10px); 
        max-width: calc(33.333% - 10px);
    }
}

@media (max-width: 768px) {
    .pictures a {
        flex: 1 1 calc(50% - 10px); 
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .pictures a {
        flex: 1 1 100%; 
        max-width: 100%;
    }
    
    .pictures img {
        width: 100%; 
        height: auto; 
    }
}